<p id="notice"><%= notice %></p>

<h1>Themelists</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @themelists.each do |themelist| %>
      <tr>
        <td><%= link_to 'Show', themelist %></td>
        <td><%= link_to 'Edit', edit_themelist_path(themelist) %></td>
        <td><%= link_to 'Destroy', themelist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Themelist', new_themelist_path %>
