<p id="notice"><%= notice %></p>
<p> <%= @city.name%> </p>

<% @city.activities.each do |activity|%>
     <%= activity.name %>
    <% activity.photos.each do |photo|%>

        <%= photo.url %>
        <%= image_tag (photo.url)%>
    <%end%>

<%end%>
<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
